body{
    font-family: courier, monospace;
    padding-top: 70px;
    background-color: #eeffff;
}
.subject-heading{
    font-family: arial;
    font-weight: bold;
    color: orange;
}
.category-box{
    background-color: #dddeee;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.category-heading{
    color: indigo;
    font-size: 33px;
    font-weight: bold;
}
.doc-box{
    background-color: #eeeeee;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.doc-name{
    color: green;
    font-size: 25px;
    font-weight: bold;
}
.tab-box{
    background-color: #ffffff;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 1px;
    border: #dddddd solid 1px;
    border-radius: 0px 5px 5px 5px;
}
.section-heading{
    font-size: 20px;
    font-weight: bold;
}
.request-box{
    background-color: #ffffff;
    height: 100%;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
}
.reqponse-divider{
    border-top: 1px solid #000000;
}
.try-it-divider{
    border-top: 2.5px dashed #aaaaaa;
    margin-left: 5px;
    margin-right: 20px;
}
.api-inp-group{
    display: flex;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 3px;
}
.api-inp-label{
    font-family: arial;
    flex: 1;
    font-size: 20px;
    text-align: right;
    padding-top: 3px;
}
.copy-clip{
    background-color: #eeffff;
    border: #dddddd 1px solid;
    border-radius: 20px;
    color: black;
    padding: 5px;
    width: 30px;
    height: 30px;
}
.try-it{
    background-color: #ffffff;
    padding: 5px 5px 5px 5px;
}
.table td,
.table th {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.table-nonfluid {
   width: auto !important;
}